# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.db
*.sqlite
*.sqlite3
debug_*.json
report_test.json
response.json
test_results.log
KPAstrology.pdf
de421.bsp
de421.bsp.download

node_modules
dist
dist-ssr
*.local
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
__pycache__/
*.py[cod]
*$py.class
